@import "../../../../../sass/flex-mixins/flex-styles";
@import "../../../../../sass/abstracts/mixins";
@import "../../../../../sass/abstracts/variables";

.image-upload-container {
  height: 100%;
  text-align: center;
}
.image-upload__title {
  margin: 0;
}
.mat-dialog-content {
  height: 80%;
  padding: 0 20px;
  @include pl-fx-layout-with-gap(column, 15px);
  @include pl-fx-layout-alignment(center, center);
}
.image-upload__actions {
  @include pl-fx-layout-with-gap(row, 15px);
  @include pl-fx-layout-alignment(center, center);
}
img {
  width: 100px;
  height: 100px;
}
