<div class="signup-page">
  <mat-card class="signup-container">
    <mat-card-header class="signup-header">
      <mat-card-title class="signup-header__tittle">
        Yo-Test
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="signup-content">
      <form [formGroup]="signupForm" class="signup-form" (submit)="onSubmit()">
        <mat-form-field>
          <input matInput class="signup-form__input-field" placeholder="First Name" formControlName="first_name">
          <mat-error>First Name is invalid</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput class="signup-form__input-field" placeholder="Last Name" formControlName="last_name">
          <mat-error>Last Name is invalid</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput class="signup-form__input-field" placeholder="Email" formControlName="email">
          <mat-error>email is invalid</mat-error>
        </mat-form-field>
        <span class="empty-span"></span>
        <button mat-raised-button class="signup-button" type="submit" [disabled]="signupForm.invalid">SIGN UP</button>
        <mat-error *ngIf="error">{{error}}</mat-error>
      </form>
    </mat-card-content>
  </mat-card>
</div>
